In [1]:
import pandas as pd
import mysql.connector as sqc

In [34]:
df = pd.read_csv("data.csv")

In [7]:
def month_format(month):
    d = {"Sep": "09","Oct":"10"}
    
    return d[month]

In [18]:
def time_format(hour):
    if(hour<10):
        return '0'+str(hour)
    
    return str(hour)

In [21]:
datify = lambda day,month,year : time_format(day) +'-' + month_format(month) +'-'+ str(year)

In [22]:
timify = lambda time : time + ':00'  

# df['Time'] = map(timify, df['Hour'],df['Minute'])

In [23]:
time = list(map(timify, df['Time']))

In [24]:
date = list(map(datify,df["Day"],df["Month"],df["Year"]))

In [28]:
df = df.drop(['Day','Month','Time','Year'],axis=1)

In [25]:
date[0]

'22-09-2021'

In [30]:
df.insert(0,"Date", date)

In [31]:
df.insert(1,"Time", time)

In [33]:
df.to_csv("data.csv",index = False)

In [31]:
len(df)

11688

In [4]:
db = sqc.connect(host="localhost",user='blunt',password ='Zomboy8897')
cursor = db.cursor()

In [27]:
time[0]

'00:00:00'

In [35]:
df.head()

         Date      Time  Temperature(Celsius)
0  22-09-2021  00:00:00                  19.5
1  22-09-2021  00:01:00                  19.5
2  22-09-2021  00:02:00                  19.5
3  22-09-2021  00:29:00                   0.5
4  22-09-2021  00:30:00                  19.5

19363