In [1]:
from mariadb import Date, Time
from time import strftime
from to_db import Connector
import pandas as pd

In [10]:
def get_dates(conn):

    first = "2021-11-01" #input("Date? yyyy-mm-dd\n")
    last = strftime("%Y-%m-%d") #input("\nDate? yyyy-mm-dd\n")

    ds = first.split('-')
    cs = last.split('-')


    first = Date(int(ds[0]),int(ds[1]),int(ds[2]))
    last = Date(int(cs[0]),int(cs[1]),int(cs[2]))


    return conn.dates(first, last)

In [11]:
strftime("%Y-%m-%d")

'2021-12-29'

In [12]:
conn = Connector()
dates = get_dates(conn)
k = 0
for i in dates:
    print(i.id, i.date,i.time,i.temperature)
    k+=1

    if(k>10):
        break

46254 2021-11-01 00:00:00 17.0
46255 2021-11-01 00:01:00 17.0
46256 2021-11-01 00:02:00 17.0
46257 2021-11-01 00:03:00 17.0
46258 2021-11-01 00:04:00 17.0
46259 2021-11-01 00:05:00 17.0
46260 2021-11-01 00:06:00 17.0
46261 2021-11-01 00:07:00 17.0
46262 2021-11-01 00:08:00 17.0
46263 2021-11-01 00:09:00 17.0
46264 2021-11-01 00:10:00 17.0

In [13]:
max_temp = conn.max_temp(dates,'date')

In [14]:
max_temp

date
2021-11-01      17.000000
2021-11-02      17.000000
2021-11-03      16.000000
2021-11-04      15.000000
2021-11-05      15.500000
2021-11-06      50.000000
2021-11-07      16.500000
2021-11-08      20.000000
2021-11-09      50.000000
2021-11-10      19.500000
2021-11-11      16.500000
2021-11-12      16.500000
2021-11-13      15.500000
2021-11-14      16.000000
2021-11-15      50.000000
2021-11-16     100.000000
2021-11-17      14.500000
2021-11-18      16.500000
2021-11-19      20.000000
2021-11-20      17.500000
2021-11-21      16.500000
2021-11-22      19.000000
2021-11-23      19.000000
2021-11-24    1800.000000
2021-11-25      15.500000
2021-11-26      16.000000
2021-11-27     166.500000
2021-11-28      21.000000
2021-11-29      19.500000
2021-11-30     170.000000
2021-12-01      20.000000
2021-12-02     186.000000
2021-12-11      32.799999
2021-12-12      33.299999
2021-12-13      20.000000
2021-12-14      20.200001
2021-12-15      20.700001
2021-12-22      24.500000
2021-12-23     222.000000
2021-12-24      23.000000
2021-12-25      23.500000
2021-12-26      24.000000
2021-12-27      24.500000
2021-12-28      25.000000
2021-12-29      26.500000
Name: temperature, dtype: float64

In [15]:
min_temp = conn.min_temp(dates,'date')

In [16]:
min_temp

date
2021-11-01     0.0
2021-11-02     1.5
2021-11-03     0.0
2021-11-04     4.5
2021-11-05     0.0
2021-11-06    14.0
2021-11-07     0.0
2021-11-08    10.0
2021-11-09    16.0
2021-11-10    16.0
2021-11-11    15.5
2021-11-12    15.5
2021-11-13    15.5
2021-11-14     0.0
2021-11-15    15.5
2021-11-16     1.0
2021-11-17     0.5
2021-11-18    13.5
2021-11-19     0.0
2021-11-20    16.5
2021-11-21     0.0
2021-11-22     0.0
2021-11-23    17.0
2021-11-24    15.5
2021-11-25    14.5
2021-11-26    15.5
2021-11-27    16.0
2021-11-28    19.0
2021-11-29    15.0
2021-11-30     0.0
2021-12-01    18.0
2021-12-02    16.0
2021-12-11    27.0
2021-12-12    13.6
2021-12-13    12.4
2021-12-14    11.5
2021-12-15    15.0
2021-12-22     0.0
2021-12-23     0.0
2021-12-24    21.0
2021-12-25     0.5
2021-12-26    21.5
2021-12-27     0.0
2021-12-28    22.5
2021-12-29    25.5
Name: temperature, dtype: float64

In [17]:
df = pd.read_sql(dates.statement,dates.session.bind)

In [18]:
f= df.groupby(['date'])['temperature'].describe()

In [19]:
f.index

Index([2021-11-01, 2021-11-02, 2021-11-03, 2021-11-04, 2021-11-05, 2021-11-06,
       2021-11-07, 2021-11-08, 2021-11-09, 2021-11-10, 2021-11-11, 2021-11-12,
       2021-11-13, 2021-11-14, 2021-11-15, 2021-11-16, 2021-11-17, 2021-11-18,
       2021-11-19, 2021-11-20, 2021-11-21, 2021-11-22, 2021-11-23, 2021-11-24,
       2021-11-25, 2021-11-26, 2021-11-27, 2021-11-28, 2021-11-29, 2021-11-30,
       2021-12-01, 2021-12-02, 2021-12-11, 2021-12-12, 2021-12-13, 2021-12-14,
       2021-12-15, 2021-12-22, 2021-12-23, 2021-12-24, 2021-12-25, 2021-12-26,
       2021-12-27, 2021-12-28, 2021-12-29],
      dtype='object', name='date')

In [21]:
f

,count,mean,std,min,25%,50%,75%,max
date,,,,,,,,
2021-11-01,1440.0,16.988194,0.447989,0.0,17.000000,17.000000,17.000000,17.000000
2021-11-02,1440.0,15.997573,0.588426,1.5,15.500000,16.000000,16.500000,17.000000
2021-11-03,1440.0,15.336458,0.678128,0.0,15.000000,15.500000,15.500000,16.000000
2021-11-04,1440.0,14.454167,0.496321,4.5,14.000000,14.500000,15.000000,15.000000
2021-11-05,1440.0,15.056597,0.562394,0.0,15.000000,15.000000,15.500000,15.500000
2021-11-06,1440.0,16.431944,1.523577,14.0,16.000000,16.500000,17.500000,50.000000
2021-11-07,1440.0,15.669792,0.595172,0.0,15.500000,15.500000,16.000000,16.500000
2021-11-08,1440.0,15.910417,1.087373,10.0,15.500000,15.500000,16.000000,20.000000
2021-11-09,1440.0,18.529167,1.803262,16.0,16.500000,19.500000,20.000000,50.000000
2021-11-10,1440.0,16.590972,0.968791,16.0,16.000000,16.500000,16.500000,19.500000
2021-11-11,889.0,15.855456,0.478921,15.5,15.500000,15.500000,16.500000,16.500000
2021-11-12,1440.0,16.050694,0.497596,15.5,15.500000,16.500000,16.500000,16.500000
2021-11-13,1440.0,15.500000,0.000000,15.5,15.500000,15.500000,15.500000,15.500000
2021-11-14,1440.0,15.677431,0.634001,0.0,15.500000,15.500000,16.000000,16.000000
2021-11-15,1440.0,15.553819,0.916067,15.5,15.500000,15.500000,15.500000,50.000000
2021-11-16,1440.0,14.509028,2.354727,1.0,14.000000,14.000000,15.000000,100.000000
2021-11-17,1440.0,13.761806,0.501768,0.5,13.500000,14.000000,14.000000,14.500000
2021-11-18,1440.0,14.379167,1.365965,13.5,13.500000,13.500000,16.500000,16.500000
2021-11-19,1440.0,18.934028,1.233151,0.0,19.000000,19.000000,20.000000,20.000000
2021-11-20,1392.0,17.085129,0.280138,16.5,17.000000,17.000000,17.500000,17.500000
2021-11-21,1440.0,15.838889,0.761350,0.0,15.500000,15.500000,16.500000,16.500000
2021-11-22,1440.0,15.830208,1.216557,0.0,15.000000,15.500000,16.000000,19.000000
2021-11-23,1440.0,17.763889,0.827230,17.0,17.000000,17.500000,19.000000,19.000000
2021-11-24,1440.0,19.095139,46.997745,15.5,16.500000,17.000000,20.000000,1800.000000
2021-11-25,1440.0,14.924306,0.384958,14.5,14.500000,15.000000,15.000000,15.500000
2021-11-26,1440.0,15.819444,0.240245,15.5,15.500000,16.000000,16.000000,16.000000
2021-11-27,1440.0,16.992361,4.179263,16.0,16.500000,16.500000,16.500000,166.500000
2021-11-28,1440.0,20.143750,0.831429,19.0,19.000000,20.500000,21.000000,21.000000
2021-11-29,1440.0,17.382986,2.011007,15.0,15.000000,17.500000,19.500000,19.500000
2021-11-30,1440.0,16.365625,4.850707,0.0,14.500000,17.000000,17.000000,170.000000
2021-12-01,1440.0,19.490278,0.871869,18.0,18.000000,20.000000,20.000000,20.000000
2021-12-02,596.0,16.912752,6.999575,16.0,16.000000,16.000000,18.000000,186.000000
2021-12-11,640.0,30.674375,1.143027,27.0,30.000000,30.799999,31.500000,32.799999
2021-12-12,1428.0,29.326935,3.497103,13.6,29.900000,30.100000,30.700001,33.299999
2021-12-13,966.0,17.281677,1.517083,12.4,16.100000,17.700001,18.400000,20.000000
2021-12-14,1230.0,17.021463,1.587634,11.5,15.700000,17.400000,18.299999,20.200001
2021-12-15,16.0,18.900000,1.688787,15.0,18.474999,19.600000,20.025000,20.700001
2021-12-22,352.0,23.916193,1.284110,0.0,24.000000,24.000000,24.000000,24.500000
2021-12-23,891.0,22.566218,6.748915,0.0,22.000000,22.000000,23.000000,222.000000
2021-12-24,1347.0,22.421307,0.551682,21.0,22.500000,22.500000,22.500000,23.000000
2021-12-25,1264.0,22.159019,1.019422,0.5,21.500000,22.000000,23.500000,23.500000
2021-12-26,1452.0,22.978650,0.913502,21.5,22.000000,22.500000,24.000000,24.000000
2021-12-27,1440.0,23.214931,0.877971,0.0,22.500000,23.000000,24.000000,24.500000
2021-12-28,647.0,23.246522,0.945029,22.5,22.500000,22.500000,24.500000,25.000000
2021-12-29,97.0,26.257732,0.271122,25.5,26.000000,26.500000,26.500000,26.500000

'2021:12:29'