In [1]:
from mariadb import Date, Time
from time import strftime
import sqlalchemy
from to_db import Connector
import pandas as pd

In [2]:
def get_dates(conn):

    first = input("Date? yyyy-mm-dd\n")
    last = input("\nDate? yyyy-mm-dd\n")

    ds = first.split('-')
    cs = last.split('-')


    first = Date(int(ds[0]),int(ds[1]),int(ds[2]))
    last = Date(int(cs[0]),int(cs[1]),int(cs[2]))


    return conn.dates(first, last)

In [3]:
conn = Connector()
dates = get_dates(conn)
k = 0
for i in dates:
    print(i.id, i.date,i.time,i.temperature)
    k+=1

    if(k>10):
        break

Date? yyyy-mm-dd
2021-11-11

Date? yyyy-mm-dd
2021-11-20
60654 2021-11-11 09:11:00 15.5
60655 2021-11-11 09:12:00 15.5
60656 2021-11-11 09:13:00 15.5
60657 2021-11-11 09:14:00 15.5
60658 2021-11-11 09:15:00 15.5
60659 2021-11-11 09:16:00 15.5
60660 2021-11-11 09:17:00 15.5
60661 2021-11-11 09:18:00 15.5
60662 2021-11-11 09:19:00 15.5
60663 2021-11-11 09:20:00 15.5
60664 2021-11-11 09:21:00 15.5

In [4]:
dates

In [7]:
df = pd.read_sql(dates.statement,dates.session.bind)

In [10]:
f= df.groupby(['date']).mean()

In [12]:
f.index

Index([2021-11-11, 2021-11-12, 2021-11-13, 2021-11-14, 2021-11-15, 2021-11-16,
       2021-11-17, 2021-11-18, 2021-11-19, 2021-11-20],
      dtype='object', name='date')