In [1]:
from mariadb import Date, Time
from time import strftime
import sqlalchemy
from to_db import Connector
import pandas as pd

In [2]:
from sqlalchemy.sql.expression import func

In [3]:
def get_dates(conn):

    first = input("Date? yyyy-mm-dd\n")
    last = input("\nDate? yyyy-mm-dd\n")

    ds = first.split('-')
    cs = last.split('-')


    first = Date(int(ds[0]),int(ds[1]),int(ds[2]))
    last = Date(int(cs[0]),int(cs[1]),int(cs[2]))


    return conn.dates(first, last)

In [4]:
conn = Connector()
dates = get_dates(conn)
k = 0
for i in dates:
    print(i.id, i.date,i.time,i.temperature)
    k+=1

    if(k>10):
        break

Date? yyyy-mm-dd
2021-11-11

Date? yyyy-mm-dd
2021-11-20
60654 2021-11-11 09:11:00 15.5
60655 2021-11-11 09:12:00 15.5
60656 2021-11-11 09:13:00 15.5
60657 2021-11-11 09:14:00 15.5
60658 2021-11-11 09:15:00 15.5
60659 2021-11-11 09:16:00 15.5
60660 2021-11-11 09:17:00 15.5
60661 2021-11-11 09:18:00 15.5
60662 2021-11-11 09:19:00 15.5
60663 2021-11-11 09:20:00 15.5
60664 2021-11-11 09:21:00 15.5

In [5]:
max_temp = conn.max_temp(dates,'date')

In [6]:
max_temp

date
2021-11-11     16.5
2021-11-12     16.5
2021-11-13     15.5
2021-11-14     16.0
2021-11-15     50.0
2021-11-16    100.0
2021-11-17     14.5
2021-11-18     16.5
2021-11-19     20.0
2021-11-20     17.5
Name: temperature, dtype: float64

In [7]:
min_temp = conn.min_temp(dates,'date')

In [8]:
min_temp

date
2021-11-11    15.5
2021-11-12    15.5
2021-11-13    15.5
2021-11-14     0.0
2021-11-15    15.5
2021-11-16     1.0
2021-11-17     0.5
2021-11-18    13.5
2021-11-19     0.0
2021-11-20    16.5
Name: temperature, dtype: float64

In [8]:
df = pd.read_sql(dates.statement,dates.session.bind)

In [16]:
f= df.groupby(['date'])['temperature'].describe()

In [17]:
f.index

Index([2021-11-11, 2021-11-12, 2021-11-13, 2021-11-14, 2021-11-15, 2021-11-16,
       2021-11-17, 2021-11-18, 2021-11-19, 2021-11-20],
      dtype='object', name='date')

In [18]:
f.head()

             count       mean       std   min   25%   50%   75%   max
date
2021-11-11   889.0  15.855456  0.478921  15.5  15.5  15.5  16.5  16.5
2021-11-12  1440.0  16.050694  0.497596  15.5  15.5  16.5  16.5  16.5
2021-11-13  1440.0  15.500000  0.000000  15.5  15.5  15.5  15.5  15.5
2021-11-14  1440.0  15.677431  0.634001   0.0  15.5  15.5  16.0  16.0
2021-11-15  1440.0  15.553819  0.916067  15.5  15.5  15.5  15.5  50.0