In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data.csv')

In [16]:
def time_format(hour):
    if(hour<10):
        return '0'+str(hour)
    
    return str(hour)

In [17]:
timify = lambda hour, minute : time_format(hour) + ':' + time_format(minute) 

# df['Time'] = map(timify, df['Hour'],df['Minute'])

In [18]:
time = list(map(timify, df['Hour'],df['Minute']))

In [19]:
df.insert(3,"Time", time)

In [30]:
df = df.drop(['Hour','Minute'],axis=1)

In [31]:
len(df)

11688

In [32]:
time[0]

'00:00'

In [33]:
df.head()

   Day Month  Year   Time  Temperature(Celsius)
0   22   Sep  2021  00:00                  19.5
1   22   Sep  2021  00:01                  19.5
2   22   Sep  2021  00:02                  19.5
3   22   Sep  2021  00:29                   0.5
4   22   Sep  2021  00:30                  19.5

In [34]:
df.to_csv("data.csv",index = False)