In [1]:
import pandas as pd
# import mysql.connector as sqc
from sqlalchemy import create_engine
from sqlalchemy.types import Date

In [2]:
df = pd.read_csv("data.csv")

In [3]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="blunt", pw="Zomboy8897", 
                      db="tempdatabase"))

In [5]:
with engine.begin() as connection:
    df.to_sql('Temperature',connection,if_exists='append', index=False)

In [4]:
datify = lambda date : date_format(date)

In [5]:
timify = lambda time : time + ':00'  

# df['Time'] = map(timify, df['Hour'],df['Minute'])

In [6]:
time = list(map(timify, df['Time']))

In [7]:
date = list(map(datify,df["Date"]))

In [7]:
df = df.drop(['Date'],axis=1)

In [8]:
date[0]

'09-22-2021'

In [9]:
df.insert(0,"Date", date)

In [31]:
df.insert(1,"Time", time)

In [8]:
df.to_csv("data.csv",index = False)

In [3]:
len(df)

19363