In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data.csv')

# Breakdown by year

In [4]:
def by_year(df):

   Day  Month   Year   Hour   Minute   Temperature(Celsius)
0   22    Sep   2021      0        0                   19.5
1   22    Sep   2021      0        1                   19.5
2   22    Sep   2021      0        2                   19.5
3   22    Sep   2021      0       29                    0.5
4   22    Sep   2021      0       30                   19.5

In [ ]:
def by_month(df):

In [14]:
df['Temperature(Celsius)'].mean()

19.413832199546484

In [11]:
df.columns

Index(['Day', 'Month', 'Year', 'Hour', 'Minute', 'Temperature(Celsius)'], dtype='object')